
#arrow-container {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
    height: auto;

    a {
      display: inline-block;
      border-radius: 50%;
      margin: 15px;
      transition: padding-right 1.5s, padding-left 1.5s, padding-top 1.5s, margin 2s, background-color 2s, animation 2s, transform 2s;
      -webkit-transition: padding-right 1.5s, padding-left 1.5s, padding-top 1.5s, margin 2s, background-color 2s, animation 2s, transform 2s;
    }
    a:hover {
      animation: glowContainer 12s ease-in-out infinite;
      -webkit-animation: glowContainer 12s ease-in-out infinite;
      padding: 0 6px;
      padding-top: 13px;
      margin: 9px;
      background-color: #19a2ff;
      transition: padding-right 1.5s, padding-left 1.5s, padding-top 1.5s, margin 2s, background-color 2s, animation 2s, transform 2s;
      -webkit-transition: padding-right 1.5s, padding-left 1.5s, padding-top 1.5s, margin 2s, background-color 2s, animation 2s, transform 2s;
      width: 50px;
      height: 50px;
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
    }
}

#arrow {
  border: solid #fff;
  border-width: 0 15px 15px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0);
  border-color: #00cccc;
  animation: glow 12s ease-in-out infinite;
  -webkit-animation: glow 12s ease-in-out infinite;
  transition: border-color 2s;
  -webkit-transition: border-color 2s;
}

#arrow:hover {
  border-color: white;
  animation: none;
  -webkit-animation: none;
  transition: border-color 2s;
  -webkit-transition: border-color 2s;
}

@keyframes glow {
  0% {
    border-color: #00ced1;
  }

  33% {
    border-color: #725feb;
  }

  66% {
    border-color: #941470;
  }

  100% {
    border-color: #00ced1;
  }
}  

@keyframes glowContainer {
  0% {
    background-color: #00ced1;
  }

  33% {
    background-color: #725feb;
  }

  66% {
    background-color: #941470;
  }

  100% {
    background-color: #00ced1;
  }
}  

@media only screen and (max-width: 720px) {

  #arrow-container {
    display: none;
  }
}