html, body {
    margin: 0px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

#root {
    height: 100%;
    overflow: auto;
}

.contact li {
    list-style: none;
}

.contact a {
    text-decoration: none;
    color: white;
    width: none;
}
.contact-icon {
    display: flex;
    height: 60px;
    width: 60px;
    border-radius:50%;
    background-color: #00ced1;
}