* {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

#root {
    height: 100%;
}

p {
    text-align: center;
    align-items: center;
    font-size: 1.3em;
    margin: 0 auto;
}

a {
    color: black;
    overflow-wrap: break-word;
}

.navbar {
    width: 100%;
    box-shadow: 1px 1px 10px 0px lightgray;
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    background-color: white;
    top: 0px;
    z-index: 2;
}

.navbar-brand {
    display: flex;
    padding: 15px 20px;
    color: black;
    background-color: rgba(37, 178, 244, 0.7);
}

.navbar-list {
    display: flex;
    padding: 15px 20px;
    transition: color 200ms ease, background-color 200ms ease;
}

.navbar-item a:visited, .navbar-item:visited {
    color: initial;
}

.navbar-item:hover {
    cursor: pointer;
    background-color: rgba(37, 178, 244, 0.7);
    transition: color 100ms ease;
}

.navbar-item a, .navbar-item {
    text-decoration: none;
}

ul {
    margin: 0px;
    display: flex;
    margin-left: auto;
    margin-right: 15px;
}

.menu-icon {
    margin: 8px;
    margin-left: auto;
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 33px;
}

svg#hamburger-icon:hover, svg.nav-expand {
    stroke: #261494;
    transition: stroke 200ms ease-in;
    animation: trace 1s ease-in-out 1;
}

.selected {
    background-color: rgba(37, 178, 244, 0.7);
}

.nav-expand {
    display: block!important;
    margin: 0px;
    padding: 0px;
}

@keyframes trace {
    25% {
        border-top: 2px solid #261494;
    }

    50% {
        border-top: 2px solid #261494;
        border-right: 2px solid #261494;
    }

    75% {
        border-top: 2px solid #261494;
        border-right: 2px solid #261494;
        border-bottom: 2px solid #261494;
    }

    100% {
        border-top: 2px solid #261494;
        border-right: 2px solid #261494;
        border-bottom: 2px solid #261494;
        border-left: 2px solid #261494;
    }
}

svg#hamburger-icon {
    width: 25px;
    stroke: black;
    stroke-width: 4px;
    padding: 4px;
    border: 2px solid white;
    border-radius: 8px;
    float: right;
}

@media only screen and (max-width: 600px) {

    .navbar {
        flex-direction: column;
    }

    .navbar-item {
        background-color: white;
    }
    .navbar ul {
        display: none;
    }

    .menu-icon {
        display: flex;
    }

}


.case-study {
    background-color: white;
    min-height: 100vh;
    width: 70vw;
    padding: 0 10vw;
    padding-top: 50px;
}


.case-study h1, .case-study h2, .case-study h3, .case-study h4 {
    font-family: 'Poppins', sans-serif;
}

.case-study p {
    margin: 1em auto;
    text-align: left;
    width: fit-content;
}

.case-study img {
    max-width: 70vw;
    max-height: 60vh;
    margin: auto;
}

.case-study ul {
    display: block;
}

.case-study li {
    margin: 0;
    font-size: 1.3em;
}

.case-study a:hover {
    color: rgba(37, 178, 244, 1);
}

.hamburger {
    margin: 15px;
    position: fixed;
    overflow: hidden;
    width: 100px;
    height: 100px;
    overflow: auto;
    right: 0;
    bottom: 0px;
    z-index: 900;
    background-color: rgba(37, 178, 244, 0.7);
    border-radius: 50px;
}
  
.white {
    background-color: #fff;
}
  
.blue {
    background-color: #00ced1;
}
  
.blue:selection {
    background-color: #fff;
    color: #00ced1;
}
  
.ham {
    position: absolute;
    width: 62px;
    height: 10px;
    transition: all 350ms ease-in-out;
    top: 25px;
    left: 20px;
    z-index: 900;
}
  
  
.top {
    animation-duration: 100ms;
    -webkit-animation-duration: 100ms;
    z-index: 900;
}
  
.middle {
    top: 45px;
    animation-duration: 250ms;
    -webkit-animation-duration: 250ms;
    z-index: 900;
}
  
.bottom {
    top: 65px;
    animation-duration: 250ms;
    -webkit-animation-duration: 250ms;
    transition: opacity 350ms linear;
    z-index: 900;
}
  
.ham-hidden {
    opacity: 0;
    visibility: hidden;
    z-index: 900;
}
  
#links {
    position: fixed;
    right: 0;
    bottom: 0px;
    display: none;
    font-size: 1.3em;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0,206,209,0.7);
    height: 100%;
    max-height: 100vh;
    z-index: 3;
}
  
#links ul {
    list-style-type: none;
    flex-direction: column;
    padding: 15px 10px;
}
  
#links ul li a {
    text-decoration: none;
    padding-bottom: 10px;
    margin-bottom: 12px;
    list-style: none;
    transition: all 150ms ease;
    color: black;
}
  
#links ul li a:hover {
    color: white;
    text-decoration: none;
}

#links .hamburger {
    display: none;
}
  
#links ul li {
    list-style: none;
}
  
.line {
    background-color: black;
    border: solid black 2px;
    height: 0;
    margin-bottom: 5px;
    margin-top: -5px;
}
  
.rotate {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    top: 45px;
}
  
.rotate-back {
    transform: rotate(-225deg);
    -webkit-transform: rotate(-225deg);
    top: 45px;
}

@-webkit-keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
  
@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
      transform: translate3d(3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
  
.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

.carousel {
    display: flex;
    margin: 20px auto;
    width: fit-content;
}

.carousel img {
    max-width: 330px;
    max-height: 230px;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    width: 30px;
} 

.arrow:active {
    background-color: deepskyblue;
}

.arrow::selection {
    background: transparent;
}

.arrow::-moz-selection {
    background: transparent;
}

.section-divider {
    background-color: #262626;
    fill: currentColor;
}
  
.contact {
    height: 50%;
    min-height: 0px;
    max-height: 300px;
    background-color: #262626;
    color: white;
}
  
.contact h2 {
    font-size: 2em;
    margin: auto;
    width: fit-content;
    width: -moz-fit-content;
}
  
.contact p {
    display: block;
    font-size: 1.2em;
}
  
.contact ul {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 30px 0px;
}
  
.contact li {
    list-style: none;
    visibility: hidden;
    font-size: 0px;
}
  
.contact a {
    text-decoration: none;
    color: white;
    width: none;
    transition: 100ms;
}
  
.contact a:hover {
    transition: all 200ms ease;
    color: #25b2f5;
    background-color: transparent;
}
  
.contact-icon:hover {
    color: inherit;
    background-color: inherit;
    border: 2px solid #25b2f5;
}
  
.contact-icon {
    display: flex;
    visibility: visible;
    border: 2px solid transparent;
    height: 30px;
    width: 30px;
    border-radius:50%;
    background-color: #25b2f5;
    margin: 0px 5px;
    color: inherit;
}
  
i {
    font-size: 18px;
    color: #fff;
}
  
  i::before {
    margin: auto;
}