$blue: #25b2f5;
$deep-blue: #17a3ff;
$purple: rgb(75, 75, 255);

html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

#root {
  height: 100%;
}

section {
  min-height: 100%;
  text-align: center;
  width: 100%;
  padding: 30px 0px;
}

p {
  text-align: center;
  align-items: center;
  font-size: 1.3em;
  width: 70%;
  margin: 0 auto;
}

a {
  color: black;
}

.splash {
  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    margin-bottom: 30px;
  }

  background-image: url('/media/wave.svg'), url('/media/wave-2.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  padding: 0px;
  width: 100%;
  text-align: initial;
  background-attachment: fixed;
  z-index: -1;
}

.splash-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.row {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  width: 50vw;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.splash {
}

.splash p {
  font-size: 1.5em;
  display: block;
  color: black;
}

.learn-more {
  font-size: 1em!important;
  margin: 20px auto;
  color: $purple!important;
  font-weight: bold;
}

.splash .row div {
  padding: 0px 20px;
  vertical-align: middle;
  margin: auto;
}

#splashimg {
  width: 70%;
  min-width: 200px;
  height: 100%;
  max-height: 70vh;
  padding: 90px 0px;
}

#about-me h2 {
  font-size: 2em;
  color: black;
  margin-top: 40px;
  margin-bottom: 40px;
}

.App {
  height: 100%;
}

.about p {
  color: black;
  height: 100%;
  font-size: 1.3em;
  margin-top: 80px;
}

.resume-btn {
  display: block;
  padding: 15px 20px;
  font-size: 1.2em;
  background-color: $purple;
  color: white;
  margin: 100px auto;
  width: fit-content;
  text-decoration: none;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  transition: border-right 500ms, border-top 1000ms, border-left 1500ms, border-bottom 200ms ease, background-color 200ms;
}

.resume-btn:hover {
  background-color: transparent;
  border-top: 2px solid $purple;
  border-right: 2px solid $purple;
  border-bottom: 2px solid $purple;
  border-left: 2px solid $purple;
  color: $purple;
  transition: border-right 500ms, border-top 1000ms, border-left 1500ms, border-bottom 2000ms ease, background-color 1s;
}

.moreDivider {
  min-height: initial;
  height: 100%;
  background-attachment: fixed;
  background-color: #ffffff;
}

.moreDivider h1 {
  margin-top: 0px;
  padding-top: 0px;
  text-align: center;
  font-size: 2.2em;
}

.moreDivider img {
  display: block;
  width: 40%;
  max-width:50vw;
  max-height:30vh;
  padding: 15px;
  margin: 30px auto;
}

.more {
  height: auto;
}

.more img {
  height: 150px;
}

.more h2 {
  font-size: 2em;
  color: black;

}

.hex-wrapper {
  display: block;
  min-height: 300px;
}

.more ul{
  position: relative;
  width: 70%;
  max-width: 300px;
  margin: 0 auto;
  padding: 0;
  display: block;
}

.more ul:after {
  content: "";
  display: block;
  clear: both;
}

.more li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 28%;
  padding: 0 0 32.5% 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  background: $blue;
  overflow: hidden;
  visibility: hidden;
  height: 0px;
  margin: 0 0.5%;
}

#about-me {
  background-color: $deep-blue;
}

.more li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 38%;
  padding: 0 0 44% 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  background: $blue;
  overflow: hidden;
  visibility: hidden;
  height: 0px;
  margin: 0 0.5%;
}

.hexagon{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, rgb(107, 41, 176) 0%, rgb(107, 41, 176) 26%,rgb(201, 24, 187) 26%, rgb(201, 24, 187) 45%,rgb(224, 20, 189) 45%, rgb(224, 20, 189) 53%,rgb(83, 45, 173) 53%, rgb(83, 45, 173) 59%,rgb(154, 33, 181) 59%, rgb(154, 33, 181) 62%,rgb(130, 37, 178) 62%, rgb(130, 37, 178) 66%,rgb(177, 28, 184) 66%, rgb(177, 28, 184) 77%,rgb(248, 16, 192) 77%, rgb(248, 16, 192) 100%);
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  background-position: center!important;
  background-repeat: no-repeat;
  background-size: cover;
}
    
.more li * {
  visibility: visible;
}

.contact {
  height: 50%;
  min-height: 0px;
  max-height: 300px;
  background-color: white;
  color: black;
}

.contact h2 {
  font-size: 2em;
}

.contact p {
  display: block;
  font-size: 1.2em;
}

.contact ul {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 30px 0px;
}

.contact li {
  list-style: none;
  visibility: hidden;
  font-size: 0px;
}

.contact a {
  text-decoration: none;
  color: white;
  width: none;
  transition: 100ms;
}

.contact a:hover {
  transition: all 200ms ease;
  color: $blue;
  background-color: white;
}

.contact-icon:hover {
  transition: 100ms;
  color: inherit;
  background-color: inherit;
  border: 2px solid $blue;
}

.contact-icon {
  display: flex;
  visibility: visible;
  border: 2px solid transparent;
  height: 30px;
  width: 30px;
  border-radius:50%;
  background-color: $blue;
  margin: 0px 5px;
  transition: 100ms;
  color: inherit;
}

.flex-container {
  /* max-width: 70%; */
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
}

#maze-rescue {
  color: rgba(255, 255, 255, 0);
  background-image: url('/media/maze-rescue.png');
  transition: all 300ms ease-out;
}

#maze-rescue:hover {
  background: rgba(51, 204, 51, 0.7);
  color: white;
}

#any-a {
  color: rgba(255, 255, 255, 0);
  background-image: url('/media/any-a.png');
  transition: all 300ms ease-out;
}

#any-a:hover {
  background: rgba(204, 153, 204, 0.7);
  color: white;
}

#card-connect {
  color: rgba(255, 255, 255, 0);
  background-image: url('/media/card-connect.png');
  transition: all 300ms ease-out;
}

#computing-paths {
  color: rgba(255, 255, 255, 0);
  background-image: url('/media/computing-paths.png');
  transition: all 300ms ease-out;
}

#carbon-calc {
  color: rgba(102, 153, 153, 0);
  background-image: url('/media/carbon-calc.png');
  transition: all 300ms ease-out;
}

#carbon-calc:hover {
  color: white;
  background: rgba(51, 102, 51, 0.7);
}

#computing-paths:hover {
  background: rgba(0, 102, 153, 0.7);
  color: white;
}

#card-connect:hover {
  background: rgba(51, 51, 102, 0.7);
  color: white;
}

#truther-tweet {
  color: rgba(102, 153, 153, 0);
  background-image: url('/media/truther-tweet.png');
  transition: all 300ms ease;
}

#truther-tweet:hover {
  background: rgba(0, 204, 204, 0.7);
  color: white;
}

#portfolio ul a {
  text-decoration: none;
}

i {
  font-size: 18px;
  color: #fff;
}

i::before {
  margin: auto;
}


.blue {
  color: $blue!important;
  transition: 200ms ease;
}

.white {
  transition: 200ms ease;
}

@media only screen and (max-width: 720px) {

  .splash-container {
      flex-direction: column;
      min-width: fit-content;
  }

  .splash-container .row:first-child {
      width: auto;
      margin-top: 40px;
  }

  .splash-container .row {
      width: auto;
      min-width: fit-content;
  }

  .splash p {
      color: black;
  }

  .splash h1 {
      margin: 25px auto;
  }
  
  .splashimg {
      padding: 15px;
  }
}

@media only screen and (max-width: 600px) {

  .splash h1 {
      margin: 30px auto;
  }

  .splash .row div {
      padding: 0px;
  }

  .splash img {
      padding-top: 15px!important;
      max-height:30vh;
  }

  .twitter-frame {
      padding: 0px 50px;
  }

  .more ul {
      max-width: 200px;
  }
  
  .splash {
      min-height: fit-content;
      max-height: initial;
  }
}

@media only screen and (max-width: 330px) {

  .splash h1 {
      margin: 30px auto;
      font-size: 3em;
  }


  .splash p {
      font-size: 1.3em;
  }

  .splash .row div {
      padding: 0px;
  }

  .twitter-frame {
      padding: 0px 50px;
  }

  .more ul {
      max-width: 200px;
  }
  
  .splash {
      min-height: fit-content;
      max-height: initial;
  }

  .contact h2 {
      font-size: 2em;
  }
  .contact p {
      font-size: 1em!important;
  }
}