section {
    padding: 30px 20px;
    height: 100%;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5em;
    color: #261494;
}

p {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1.3em;
    width: 70%;
    margin: 0 auto;
}


.App {
    height: 100%;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.row {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    width: 50%;
    z-index: 1;
}

.splash {
    padding: 80px 0px;
    text-align: initial;
    z-index: -1;
}


.splash p {
    font-size: 1.5em;
    display: block;
}

.splash .row div {
    padding: 0px 20px;
}

#splashimg {
    width: 70%;
    min-width: 250px;
    padding: 15px;
}

#bkgd-img-splash {
    height: 750px;
    z-index:-1;
    width: 100%;
    position: fixed;
}

#bkgd-img-splash div {
    position: fixed;
    top: 0;
    background-position: center;
    transform: translateY(0px);
    height: 750px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    .splash-container {
        flex-direction: column;
    }

    h1 {
        margin: 30px auto;
    }
}

@media only screen and (min-width: 1250px) {
    h1 {
        font-size: 8em;
    }
}

.splashBackground {
    z-index: -1;
    position: fixed;
    top: 0;
    background-position: center !important;
    transform: translateY(0px);
}

.splashBackground:nth-child(2) {
    margin-top: 25px;
}

.splashBackground:nth-child(3) {
    margin-top: 50px;
}

.about {
    background-color: #261494;
    background-image: url("data:image/svg+xml,%3Csvg width='90' height='60' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239657fd' fill-opacity='0.36'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-attachment: fixed;
}

.about p {
    color: white;
    height: 100%;
    font-size: 2em;
}

.moreDivider {
    background-color: white;
}

h3 {
    margin-top: 30px;
    text-align: center;
    font-size: 2.2em;
}

.moreDivider img {
    display: block;
    width: 40%;
    min-width: 250px;
    max-width: 500px;
    padding: 15px;
    margin: 30px auto;
}

.more {
    height: auto;
    background: linear-gradient(#261494, #941470);
}

.more img {
    height: 150px;
}

.more h4 {
    font-size: 2em;
    color: white;
}


.more ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    width: 1040px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  .more li {
    width: 200px;
    padding: 0 0 231px 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    background: #00ced1;
    overflow: hidden;
    visibility: hidden;
    margin-top: -50px;
    height: 0;
  }

  .hexagon{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("https://picsum.photos/250/250/?image=870");
      -o-transform: skewY(-30deg) rotate(60deg);
      -moz-transform: skewY(-30deg) rotate(60deg);
      -webkit-transform: skewY(-30deg) rotate(60deg);
      -ms-transform: skewY(-30deg) rotate(60deg);
      transform: skewY(-30deg) rotate(60deg);
      overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
      
  .more li *{
      visibility: visible
  }

.contact {
      height: 50%;
      background-color: #941470;
      color: white;
 }

 .contact p {
     display: block;
     font-size: 1.2em;
 }