$blue: #25b2f5;
$deep-blue: #17a3ff;
$soft-purple: #8080ed;
$medium-purple: #6c6cf4;
$purple: #4b4bff;
$off-black: #262626;

* {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
 }

#root {
  height: 100%;
}

section {
  min-height: 100%;
  text-align: center;
  width: 100%;
  padding: 30px 0px;
}

p {
  text-align: center;
  align-items: center;
  font-size: 1.3em;
  width: 70%;
  margin: 0 auto;
}

a {
  color: black;
}
